@{
    ViewData["Title"] = "Carrinho";
}

@model List<ItemPedido>;

<h3>Meu Carrinho</h3>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                Quantidade
            </div>
            <div class="col-md-2">
                <span class="float-right">
                    Subtotal
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">

        @foreach (var item in Model)
        {
        <div class="row row-center linha-produto">
            <div class="col-md-3">
                <img class="img-produto-carrinho" src="/images/produtos/large_@(item.Produto.Codigo).jpg" />
            </div>
            <div class="col-md-3">@(item.Produto.Nome)</div>
            <div class="col-md-2 text-center">R$ @(item.PrecoUnitario)</div>
            <div class="col-md-2 text-center">
                <div class="input-group">
                    <span class="input-group-prepend">
                        <button class="btn btn-outline-secondary">
                            -
                        </button>
                    </span>
                    <input type="text" value="@(item.Quantidade)"
                           class="form-control text-center" />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary">
                            +
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                R$ <span class="float-right" subtotal>
                    @(item.Quantidade * item.PrecoUnitario)
                </span>
            </div>
        </div>
        }
        
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-10">
                <span numero-itens>
                    Total: @(Model.Count())
                    itens
                </span>
            </div>
            <div class="col-md-2">
                Total: R$ <span class="float-right" total>
                    @(Model.Sum(i => i.Quantidade * i.PrecoUnitario))
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="float-right">
            <a class="btn btn-success" asp-action="Carrossel">
                Adicionar Produtos
            </a>
            <a class="btn btn-success" asp-action="Cadastro">
                Preencher Cadastro
            </a>
        </div>
    </div>
</div>
